.App {
  text-align: center;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.inc {
  align-self: auto;
  color: sienna;
  display: grid;
flex-flow: column;
  align-self: center;
box-flex-group:center;
}

.dec {
  background-color: aqua;
}
h1 {
  background-color: blue;
  align-items: center;

}